<div class="flex w-full h-screen bg-gradient-to-tr from-sky-900 via-teal-500 to-emerald-600 justify-center items-center text-gray-300 p-6">
    <!-- <nav class="w-screen h-fit flex flex-row justify-center bg-gray-500 fixed top-0">
        <div class="w-2/4 flex flex-row justify-around">
            <a href="#intro">Introduction</a>
            <a href="#diff">Git Diff</a>
            <a href="#checkout">Git Checkout</a>
        </div>
    </nav> -->
    <div class="flex flex-col bg-gray-500/25 h-fit w-2/4 justify-start items-center rounded-3xl ">
        <h1 class="p-4 text-gray-300 font-semibold text-xl">Welcome to my Guide archive!</h1>
        <hr class="w-5/6 h-1"   id="intro">
        <h2 class="text-lg">Introduction</h2>
        <h3 class="text-md self-end mx-5 w-11/12">About me</h3>
        <div class="flex flex-col items-center p-5 w-3/4">
            <p>Hi!  My name is Augusto Carrasco. I'm 29 years old and I'm currently studying and improving myself evryday. Looking forward to meeting the very best version of the developer in me! </p>
            <p>From Architecture to Psychology, I've studied many things, had many different jobs. Not much of a sleeper here. </p>
            <img src="/assets/profile-pic.jpeg" alt="Profile" width="300px" class="rounded-md">
            
        </div>
        <hr class="w-5/6 h-1"   id="end">
        <div class="flex flex-col items-center p-5 w-3/4">
            <p>I've started this website in order to post every short guide on every advance I make through the world of programming!</p>

        </div>
        <!-- <hr class="w-5/6 h-1"   id="end"> -->
        <p></p>
    </div>
</div>